# VS Code
.vscode/*

# Extensions locales
.vscode/extensions/
.history/

# Workspace
*.code-workspace

# OS
Thumbs.db

# Logs
*.log
logs/

# Build outputs
dist/
build/
out/
.next/
.nuxt/

# Binaires
bin/
*.exe
*.dll
*.so
*.dylib

# Dépendances
node_modules/

# Cache
.cache/
.parcel-cache/
.turbo/